@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1566px;
  width: 84%;
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
header{
  height: 90px;
  background-color: #363636;
  padding: 0 145px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo{
  font-size: 2rem;
  color: #ffffff;
}
.menu-item a{
  display: inline-block;
  text-decoration: none;
  font-size: 1rem;
  padding: 0 20px;
  color: #A8CBC8;
  letter-spacing: 2px;
}

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
/* banner start here */
.banner{
  width: 100%;
}
.banner .wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.banner img{
  position: absolute;
  top: 90px;
  left: 0;
  z-index: -1;
}
.banner h2{
  font-size: 3.8rem;
  letter-spacing: 3px;
  font-weight: 900;
  color: #ffffff;
  text-align: center;
  margin-top: 335px;
}
.banner p{
  text-align: center;
  padding: 20px 350px;
  font-size: 1.3rem;
  color: #A8CBC8;
}
.banner .btn{
  padding: 18px 25px;
  border: 1px solid #ffff;
  background: #69AD31;
  margin: 54px 0 168px 0;
  border-radius: 10px;
}
/* banner ends here */

/* Welcome section start here */
.welcome{
  background-color: #ffffff;
  padding: 120px 0;
}
.welcome-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.welcome-content > li{
  flex-basis: 48%;
  height: 386px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.welcome-content h2{
  color: #000000;
  font-size: 2.3rem;
  letter-spacing: 2px;
  font-weight: bold;
  margin-bottom: 80px;
}
.welcome-content p{
  margin: 15px 0;
  font-size: 1.2rem;
}
.welcome-content .btn{
  display: inline;
  font-size: 1rem;
  width: 166px;
  padding: 16px 15px;
  border-radius: 10px;
  color: #ffffff;
  background-color: #69AD31;
}
.card{
  display: flex;
  justify-content: space-between;
}
.card li{
  flex-basis: 47%;
}
.card li h3{
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 20px 0;
}
/* Welcome section ends here */

/* Services section start here */
.serivces{
  background-color: #69AD31;
  padding: 90px 0;
  color: #ffffff;
}
.serivces h2{
  position: relative;
  text-align: center;
  padding: 22px 0;
  font-size: 2.6rem;
  font-weight: 600;
  letter-spacing: 1px;
}
.serivces h2::after{
  content: '';
  width: 90px;
  height: 3px;
  border-radius: 5px;
  background-color: #ffffff;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.serivces .wrapper > p{
  text-align: center;
  font-size: 1.3rem;
  padding: 25px 0;
}
.services-card{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-bottom: 58px;
}
.services-card li{
  flex-basis: 20%;
}
.services-card li img{
  border-radius: 50%;
  border: 10px solid #87aa6b;
}
.services-card h4{
  font-size: 1.6rem;
  letter-spacing: 2px;
  margin: 25px 0;
}
.services-card p{
  font-size: 1.2rem;
}
/* Services section ends here */

/* Gallery section start here */
.galler{
  background-color: #ffffff;
  padding: 90px 0;
  text-align: center;
}
.galler h2{
  position: relative;
  text-align: center;
  padding: 22px 0;
  font-size: 2.6rem;
  font-weight: 600;
  letter-spacing: 1px;
}
.galler h2::after{
  content: '';
  width: 90px;
  height: 3px;
  border-radius: 5px;
  background-color: #69AD31;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.galler p{
  font-size: 1.3rem;
  padding: 25px 0;
}
.gallery-menu li{
  font-size: 1.2rem;
  margin: 55px 15px;
  background-color: #E5E5E5;
  padding: 10px 20px;
  border-radius: 5px;
  transition: .6s;
}
.gallery-menu li:hover{
  background-color: #69AD31;
  color: #ffff;
}
.photos{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.photos li{
  flex-basis: 31%;
  margin-bottom: 32px;
}
/* Gallery section ends here */

/* testimonial section start */
.testimonials{
  width: 100%;
  text-align: center;
  position: relative;
  padding: 90px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #ffffff;
}
.testimonials figure{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  z-index: -1;
}
.testimonials h2{
  position: relative;
  text-align: center;
  padding-bottom: 22px;
  font-size: 2.6rem;
  font-weight: 600;
  letter-spacing: 1px;
}
.testimonials h2::after{
  content: '';
  width: 90px;
  height: 3px;
  border-radius: 5px;
  background-color: #69AD31;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.slider{
  width: 100%;
  text-align: center;
  overflow: hidden;
  padding: 20px 0;
}
.slides{
  width: 400%;
  text-align: center;
  display: flex;
}
.slide{
  width: 100%;
  /* display: none; */
}
.slide.active{
  display: block;
}
.slide p{
  margin: 20px 0;
  padding: 0 212px;
  font-size: 1.2rem;
}
.slider-controls li a{
  padding: 7px;
  border-radius: 50%;
  background-color: #A8CBC8;
  margin: 30px 6px;
}
.slider-controls li a.active{
  background-color: #ffffff;
}
/* testimonial section ends */

/* Contact section start here */
.contact{
  background-color: teal;
}
/* Contact section ends here */
/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 







 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  